.ListOfGifs {
    display: grid;
    /* min-height: 100vh; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: masonry;
    gap: 10px;
}

.ListOfGifs-item{ 
 
    background-color: #616772;
    display: inline-block;
    width: 90%;
}